body{
	background-color: black;
}

.container{
	height: 510px;
	width: auto;
	margin: 20px 40px;
	background-image: url(wallpaper.jpg);
}

.calculator{
	background-color: white;
	width: 310px;
	height: 492px;
	margin: 10px auto;
	position: relative;
	top: 8px;
	border-radius: 5px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#result{
	height: 120px;
	padding-right: 8px;
}

#keyboard{
	height: 372px;
	text-align: right;

}

#history{
	text-align: right;
	height: 20px;
	margin: 0 20px;
	padding-top: 20px;
	font-size: 15px;
	color: #919191;
}

#output{
	text-align: right;
	height: 60px;
	margin: 10px 20px;
	font-size: 20px;
	width: 262px;
	position: relative;
	overflow: hidden;
}

.number, .operator, .empty{
	height: 50px;
	width: 50px;
	margin: 13px;
	float: left;
	border-radius: 50%;
	border-width:0;
	font-weight: bold;
	font-size: 15px;
}

.number, .empty{
	background-color: white;
}

.number, .operator{
	cursor: pointer;
}

.number:active , .operator:active{
	font-size: 13px;
}

button::-moz-focus-inner {
  border: 0;
}

button:nth-child(4){
	font-size: 22px;
	background-color: lightgreen;
}

button:nth-child(8){
	font-size: 22px;
	background-color: orange;
}

button:nth-child(12){
	font-size: 22px;
	background-color: pink;
}

button:nth-child(16){
	font-size: 22px;
	background-color: lightblue;
}

button:nth-child(20){
	font-size: 22px;
	background-color: royalblue;
}

button:nth-child(19){
	background-color: white;
}

#output-value{
	display: inline-block;
	max-width: 262px;
	overflow: none;
}

